*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	font-family: sans-serif;
	overflow: hidden;
}

.center{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0 2%;
	max-width: 100%;

}

header{
	height: 200px;
	padding: 20px 0;
}

.logo{
	margin-left: 50px;
	width: 60%;
}

.menu{
	padding-top: 30px;
	width: 35%;
}

.menu a{
	text-decoration: none;
	color: black;
	margin-left: 50px;
	font-size: 15px;
	color: black;
}

section.sobre{
	height: calc(100% - 200px);
	position: relative;
}

.extras{
	position: absolute;
	bottom: -500px;
	right: -500px;
	height: 1050px;
	width: 1050px;
	border-radius: 50%;
	background-color: #017143;
}

.extras > img{
	position: absolute;
	right: 650px;
	bottom: 600px;
	height: 500px;
}

.social_media{
	position: absolute;
	left: 500px;
	top: 100px;
}

.social_media > a > img{
	display: block;
	margin: 23px 0;
	height: 22px;
	max-width: 22px;
}

.texto_sobre{
	position: absolute;
	left: 130px;
	top: 30px;
}

.texto_sobre h2{
	font-size: 60px;
	font-weight: initial;
}

.texto_sobre span{
	color: #017143;
	font-size: 70px;
	font-weight: bold;
}

.texto_sobre p{
	max-width: 36%;
	font-weight: 500;
	font-size: 15px;
	margin-top: 5px;
	line-height: 20px;
}

.texto_sobre button{
	border: 0;
	border-radius: 20px;
	background-color: #017143;
	color: white;
	width: 9%;
	height: 38px;
	margin-top: 20px;
	font-size: 15px;
	font-weight: initial;
	cursor: pointer;
}

.icones{
	position: absolute;
	top: 450px;
	text-align: center;
	width: 100%;
}

.icones img{
	height: 80px;
	margin-left: 25px;
}

